<div class="mt-4">
    <h2>Đăng Tour</h2>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên tour du lịch</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="desc">Mô tả</label>
            <input type="text" class="form-control" id="desc" name="desc">
        </div>
        <div class="form-group">
            <label for="videoID">VideoID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="level">Chuyến đi</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm tour du lịch</button>
    </form>
</div>