<html>
  <head>
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .wrapper {
        min-height: 100%;
        position: relative;
      }
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        background-color: rgb(230, 162, 162);
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <p>Content go here</p>
      <footer>
        <p>Author: Bùi Tuấn Huy<br>
          <a href="mailto:hege@example.com">huybuituan21@gmail.com</a>
        </p>
      </footer>
    </div>
  </body>
</html>
